.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
   table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  }
  
  th {
     background-color: hsl(204, 23%, 72%);
    color: black; 
    font-weight: bolder;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    width: 400px;
  }
 


  @media screen and (max-width: 600px) {
    input[type="text"] {
      width: 100%;
    }
    
    td {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 400px) {
    th, td {
      padding: 8px;
    }
    
    td {
      font-size: 12px;
    }
  }

  

  